<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="The Blog" content="First mebn Projects " />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  <title>The Blog</title>
</head>
<!-- Show New Article Page -->

<body>
  <div class="container">
    <h1 class="mb-1 mt-3"><%= article.title %></h1>
    <div class="text-muted mb-4"><%= article.createdAt.toLocaleDateString() %></div>
    <a href="/" class="btn btn-secondary">All Articles</a>
    <a href="/articles/edit/<%= article.id%>" class="btn btn-info">Edit</a>
    <h4 class="lead text-primary mt-2"><%= article.description%></h4>
    <div class="lead mt-4 ">
      <%= article.markdown%>
    </div>
  </div>
</body>

</html>